{% extends "base.html" %}
{% block title %}Add roast{% endblock %}
{% block content %}
  <a class="back-link" href="/roasts/new">&larr; Back to profile selection</a>
  <h1>Add roast &mdash; {{ profile.name }}</h1>

  {% if error %}
    <p style="color: #c00;">{{ error }}</p>
  {% endif %}

  <form method="post">
    <p>
      <label>Date (MM/DD/YYYY)<br>
        <input type="text" name="date" value="{{ values.date }}">
      </label>
    </p>
    <p>
      <label>Bean name<br>
        <input type="text" name="bean_name" value="{{ values.bean_name }}">
      </label>
    </p>
    <p>
      <label>Green weight (g)<br>
        <input type="text" name="green_weight" value="{{ values.green_weight }}">
      </label>
    </p>

    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Actual (&deg;F)</th>
          <th>Target (&deg;F)</th>
        </tr>
      </thead>
      <tbody>
        {% for minute in minutes %}
          <tr>
            <td>{{ minute }}:00</td>
            <td>
              <input
                type="text"
                name="actual_temp_{{ minute }}"
                value="{{ values.actual_temps[minute - 1] }}"
                size="6"
                placeholder="optional"
              >
            </td>
            <td>{{ target_temps[minute - 1] if target_temps[minute - 1] is not none else "-" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p>
      <label>Time of first crack (MM:SS)<br>
        <input type="text" name="first_crack" value="{{ values.first_crack }}">
      </label>
    </p>
    <p>
      <label>Total roast time (MM:SS)<br>
        <input type="text" name="roast_time" value="{{ values.roast_time }}">
      </label>
    </p>
    <p>
      <label>Finished weight (g)<br>
        <input type="text" name="finished_weight" value="{{ values.finished_weight }}">
      </label>
    </p>

    <button type="submit">Submit</button>
  </form>
{% endblock %}
